.inset{
    inset: 0;
}
.inner{
    display: grid;
    place-items: center;
    z-index: 99;
    width: 100%;
    height: 100vh;
}
 .image{
    overflow: hidden;
}
 .layer{
    transform: translateY(100%);
    transition: .5s all;
}
 .image:hover .layer{
    transform: translateY(0);
}
.side-nav{
    left: -20%;
    width: 20%;
    z-index: 999;
}

i{
    cursor: pointer;
}
.side-nav .side-nav-links ul{
    list-style: none;
}
ul li{
    display: none;
}
.side-nav .side-nav-icons{
    width: 60px;
}
.side-nav .side-nav-links .footer .icon{
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
}
input::placeholder{
    color: #fff;
}

.form{
    display: grid;
    place-items: center;
}
section, 
#search {
    display: none;
}